name = ''  # 'MelBo'
prefix = ''  # начало собщения бота
version = '1.0.0'
chat_list = ['43','65']
""" chat_list - список чатов для ответа
Возможные значения chat_list: 62 - 10к;
"""
ignore_users = ['']
""" ignore_users - список игнорируемых пользователей
Возможные значения ignore_users:
"""
testmode = True
trainmode = False
msg_timeout = 2  # перерыв между запросами новых сообщений в активном режиме
msg_wait = 30  # ожидание сообщений в пассивном режиме (для экономии трафика)
active_mod_max_time = 600  # время, через которое включится пссивный режим
access_token = '2f9fcf4651e18a8d2a02d17f9e836cf2f07833775d1ca6f0fadd4493443fea124cba06951d7b22fe39f40'
app_id = '5468754'
my_id = '174471630'
api_version = "5.64"